@import "backend_variables";

@import "resources/vendors/coreui/src/scss/style.scss";

a {
    text-decoration: none;
}

.breadcrumb{
    font-size: 1.4rem;
    a{
        font-weight: 700;
        color: $black;
    }
}

.sidebar-brand {
    padding: 10px 0;
    background: transparent;
}

.sidebar-nav .nav-link{
    padding-top: 7px;
    padding-bottom: 7px;
}